.stats-categories {
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .stats-categories__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .category-item__count {
      width: 25px;
      font-size: 16px;
      font-weight: bold;
    }

    .category-item__block {
      cursor: pointer;
      width: 60px;
      height: 15px;
      background: grey;
      border-radius: 10px;
      margin: 0 15px;
    }
  }
}
