@import '../../utils/index.less';

.stats-categories {
  .flex(flex-start, center, column);
  margin-left: 50%;

  .stats-categories__item {
    .flex(center, flex-start);

    .category-item__count {
      width: 25px;
      font-size: @fz-medium;
      font-weight: bold;
    }

    .category-item__block {
      cursor: pointer;
      width: 60px;
      height: @margin-big;
      background: grey;
      border-radius: @margin-medium;
      margin: 0 @margin-big;
    }
  }
}
