.addActions {
  .buttons_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .action_button {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      padding: 10px 20px;
      cursor: pointer;

      &__img {
        margin-right: 10px;
      }
    }
  }
}
