@import '../../utils/index.less';

.pieChartButton-wrapper {
  .flex();
  width: 100%;

  .pieChartButton {
    .flex();
    width: 30%;
    height: 50px;
    border-radius: 70px;
    background: @caribbean_green;
    cursor: pointer;

    img {
      height: 70%;
    }
  }
}
