@import '../../../utils/index.less';

.sellBuyModal {
  width: 550px!important;

  .ant-modal-content {
    .ant-modal-header {
      background: @de_york;

      .ant-modal-title {
        color: @white;
        font-size: 20px;
      }
    }
    .ant-modal-body {
      padding-top: @margin-big;
    }
    .ant-modal-close {
      color: @white;
    }
  }
}

.modalBuySell {
  .flex(center, center, column);

  &-date {
    font-size: 20px;
    margin-bottom: @margin-medium;
  }

  .categories-title {
    font-size: 20px;
    color: @mantle;
  }

  .categories {
    .flex(center, center);
    flex-wrap: wrap;

    &-item {
      .flex(center, center);
      width: 60px;
      height: 60px;
      cursor: pointer;
      position: relative;

      &__img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;

        &.active{
          transform: scale(1.4);
          -ms-transform: scale(1.4);
          -webkit-transform: scale(1.4);
        }
        &:hover {
          transform: scale(1.4);
          -ms-transform: scale(1.4);
          -webkit-transform: scale(1.4);
        }
      }

      &__check {
        width: 20px;
        height: 20px;
        top: 0;
        right: -5px;
        position: absolute;
      }
    }
  }

  .modalBuySell-container {
    .flex(center, center, column);
    width: 100%;
    padding: 20px;

    .container-price {
      display: flex;
      flex-direction: column;
      &__title {
        font-size: @fz-big;
        color: @mantle;
        margin-bottom: @margin-small;
      }
      &__input {
        color: @white;
        background: @de_york;
        font-weight: bold;
        text-align: center;
        border: 2px solid @green;
        outline: none;
        font-size: 20px;
        padding: 6px;
        border-radius: 4px;

        &::placeholder {
          color: @white;
          font-size: 20px;
        }
      }
    }

    .container-description {
      width: 280px;
      margin-top: @margin-medium;
      display: flex;
      flex-direction: column;

      &__title {
        font-size: @fz-big;
        color: @mantle;
        margin-bottom: @margin-small;
      }

      &__input {
        height: 35px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid @grey;

        img {
          width: 25px;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          color: @dimgrey;
          font-size: @fz-big;
          padding: 0 @margin-medium;
        }
      }
    }
  }
}
