@import '../../utils/index.less';

.rec.rec-carousel-wrapper.rangeMonth {
  display: flex;
  justify-content: center;
  width: 500px;

  @media (max-width: 500px) {
    min-width: 380px;
    width: 100%;
  }

  .rec.rec-arrow, .rec.rec-arrow:hover, .rec.rec-arrow:focus {
    background-color: transparent;
    box-shadow: none;
    color: @mine_shaft;
  }
  .rec.rec-arrow:disabled {
    color: @dusty_gray;
  }
  .rec.rec-slider-container {
    margin: 0;
  }

  .rangeMonth_month {
    text-align: center;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    outline: none;
  }

  .rangeMonth_month-active {
    font-weight: bold;
    font-size: @fz-medium;
    outline: none;
  }
}
