.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 15%;
  background: #7AC795;

  &-name {
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    color: white;
  }
}
